<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TP01WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <TP01WPF.Properties.Settings>
            <setting name="AsyncMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WSRestoBaseUri" serializeAs="String">
                <value>http://localhost:52564/api/Restaurant</value>
            </setting>
            <setting name="WSAboBaseUri" serializeAs="String">
                <value>http://localhost:1072/api/Abonnes</value>
            </setting>
        </TP01WPF.Properties.Settings>
    </applicationSettings>
</configuration>